<template>
  <div>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "saas",
  data () {
    return {

    }
  },
  components: {

  }
}
</script>

<style lang="scss">

</style>
