<template>
  <div class='settingBox'>
    <table>
      <tr>
        <td>
          <colorSelect class='layoutColor' ></colorSelect>
        </td>
        <td>
          <colorSelect title='主题' class='layoutColor' :colorList='colorList' type='theme'></colorSelect>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
import colorSelect from '@/components/colorSelect.vue';
export default {
  name: 'mySetting',
  data() {
    return {
      colorList: [
        ['Blue', '#337ab7'],
        ['Cyan', '#2ea59f'],
        ['Indigo', '#3F46BB'],
        ['Purple', '#6F5499'],
        ['Teal', '#2EA563'],
        ['Orange', '#FF8800'],
        ['Deep Purple', '#5e35b1'],
        ['Light Blue', '#039be5'],
        ['Green', '#7cb342'],
        ['Light Green', '#43a047'],
        ['Amber', '#ffb300'],
        ['Brown', '#6d4c41'],
        ['Dark Grey', '#78909c']
      ]
    };
  },
  components: {
    colorSelect
  }
};
</script>

<style lang='scss'>
.settingBox {
  padding: 15px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .layoutColor {
    height: 400px;
    width: 300px;
  }
}
</style>
