body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,
td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
}

ul li,
ol li {
  list-style: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.marY5 {
  margin: 5px 0;
}

.marY10 {
  margin: 10px 0;
}

.marB5 {
  margin-bottom: 5px;
}

.marB10 {
  margin-bottom: 10px;
}

.marT5 {
  margin-top: 5px;
}

.marT10 {
  margin-top: 10px;
}
.cursor{
  cursor:pointer;//鼠标变小手
}