.el-menu--horizontal>.el-submenu:focus .el-submenu__title,
.el-menu--horizontal>.el-submenu:hover .el-submenu__title{
  color: #909399;
}

// 导航条下拉框样式
.el-menu.el-menu--popup.el-menu--popup-bottom-start {
  width: 250px;
  background-color: #363a41;
  border-top: 4px solid #283593;
  margin-top: 10px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  &::before {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid #283593;
    content: " ";
    position: absolute;
    top: -15px;
    left: 20px;
  }
  .el-menu-item {
    color: #fff;
    z-index: 99;
    background-color: #363a41;
    &:hover {
      background-color: #4a4d54;
    }
    padding-left: 20px;
    i {
      color: #fff;
      margin-right: 10px;
    }
  }
}

// 修改 input/textarea placeholder 的颜色
// /* Chrome/Opera/Safari */ 
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
.el-input__inner::-webkit-input-placeholder, 
.el-textarea__inner::-webkit-input-placeholder {
  color: #666;
}
// Internet Explorer 10-11
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
.el-input__inner:-ms-input-placeholder,
.el-textarea__inner:-ms-input-placeholder {
  color: #666;
}
// Mozilla Firefox 19+ 
input::-moz-placeholder,
textarea::-moz-placeholder,
.el-input__inner::-moz-placeholder,
.el-textarea__inner::-moz-placeholder {
  color: #666;
}