<!-- 选择组件 -->
<template>
  <div class='selectBox'>
    <h3>{{title}}</h3>
    <ul>
      <li
        class='cursor'
        v-for='(item,index) in colorList'
        :key='index'
        @click='selectli(item[1],index)'
        :style='{backgroundColor:selected===index? $store.state.baseColorTheme:""}'
      >{{item[0]}}</li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      selected: ''
    };
  },
  props: {
    colorList: {
      type: Array,
      default: () => {
        return [
          ['Amber', '#FF8800'],
          ['Blue', '#457fca'],
          ['Calm', '#5f2c82'],
          ['Crimson', '#521c52'],
          ['Cyan', '#2BA19B'],
          ['Darkgrey', '#455a64'],
          ['Firewatch', '#cb2d3e'],
          ['Green', '#689f38'],
          ['Indigo', '#303f9f'],
          ['Influenza', '#a83279'],
          ['Joomla', '#1e3c72'],
          ['Lime', '#afb42b'],
          ['Little Leaf', '#76b852'],
          ['Night', '#2c0747'],
          ['Pink', '#c2185b']
        ];
      }
    },
    title: {
      type: String,
      default: '布局颜色'
    },
    type: {
      type: String,
      default: 'layout'
    }
  },
  components: {},
  created() {
    this.colorList.forEach((item, index) => {
      if (this.type === 'theme') {
        if (item[1] === window.localStorage.getItem('baseColorTheme')) {
          this.selected = index;
        }
      } else if(this.type === 'layout'){
        if (item[1] === window.localStorage.getItem('baseColor')) {
          this.selected = index;
          console.log(this.selected);
        }
      }
    });
  },
  methods: {
    selectli(obj, index) {
      this.selected = index;
      if (this.type === 'theme') {
        this.$store.state.baseColorTheme = obj;
        window.localStorage.setItem(
          'baseColorTheme',
          this.$store.state.baseColorTheme
        );
      } else if(this.type === 'layout'){
        this.$store.state.baseColor = obj;
        window.localStorage.setItem('baseColor', this.$store.state.baseColor);
      }
    }
  }
};
</script>
<style lang='scss' scoped>
.selectBox {
  padding: 10px;
  color: #212529;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  ul {
    width: 100%;
    height: calc(100% - 40px);
    border: 1px solid #cccccc;
    border-radius: 5px;
    overflow: auto;
    font-size: 12px;
    li {
      padding: 6px 20px;
    }
  }
}
</style>