<!-- 可编辑ui li -->
<template>
  <div class='editLiBox'>
    <div>{{title}}</div>
    <ul class='ui-inputfield'>
      <li v-for='(item,index) in dataLi' :key='index'>
        <span class='spanitem'>
          <span>{{item}}</span>
          <i class='fa fa-times cursor close' aria-hidden='true' @click='closeli(index)'></i>
        </span>
      </li>
      <li>
        <input v-model='inputVal' type='text' @keydown='keydown($event)' name='fieldinput' />
      </li>
    </ul>
  </div>
</template>

<script>
import Util from '@/tools/common.js';
export default {
  data() {
    return {
      inputVal: '',
    };
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    dataLi:{
      type:Array,
      default:()=>{
        return ['测试']
      }
    }
  },
  components: {},
  methods: {
    keydown(ev) {
      if (ev.keyCode === 13) {
        if (!Util.isNull(this.inputVal)) {
          let d = this.inputVal;
          this.dataLi.push(d);
          this.inputVal = '';
        }
      } else if (ev.keyCode === 8) {
        if (Util.isNull(this.inputVal)) {
          this.dataLi.splice(this.dataLi.length - 1, 1);
        }
      }
    },
    closeli(index) {
      
      this.dataLi.splice(index, 1);
    }
  }
};
</script>
<style lang='scss' scoped>
.editLiBox {
  .ui-inputfield {
    font-size: 14px;
    background: #ffffff;
    margin-top: 8px;
    border: 1px solid #cccccc;
    font-size: 14px;
    line-height: 18px;
    border-radius: 5px;
    li {
      display: inline-block;
      vertical-align: middle;
      list-style-type: none;
      margin: 1px;
      padding: 0;
      height: 24px;
      padding: 2px 3px;
      input {
        text-decoration: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-color: transparent;
        border: 0 none;
        margin: 2px;
        outline: medium none;
        width: 140px;
      }
      .spanitem {
        color: #ffffff;
        background-color: #039be5;
        border-radius: 5px;
        span {
          padding: 0 5px 0 10px;
        }
      }
    }
  }
}
</style>