<template>
  <div class="funcBar">
    <div class="add cursor" @click="add">
      <i class="fa fa-plus"></i>
      <span>{{$t('message.add')}}</span>
    </div>
    <div class="search">
      <el-input v-model="searchVal" :placeholder="$t('message.search')"></el-input>
      <el-button class="search" @click="search">
        <i class="fa fa-filter"></i>
        <span>{{$t('message.search')}}</span>
      </el-button>
    </div>
  </div>
</template>

<script>
export default {
  name: "funcBar",
  data () {
    return {
      searchVal: ''
    }
  },
  methods: {
    add() {
      this.$emit('add');
    },
    search() {
      this.$emit('search', this.searchVal);
    }
  }
}
</script>

<style lang="scss">
.funcBar {
    height: 60px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 0 10px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .add {
      color: #777;
      i {
        margin: 0 6px;
        font-size: 14px;
      }
      span {
        font-size: 12px;
      }
      &:hover {
        color: #292B2C;
      }
    }
    .search {
      display: flex;
      align-items: center;
      cursor: pointer;
      .el-input {
        width: 150px;
        margin-right: 10px;
        .el-input__inner {
          height: 30px;
          padding: 6px 12px;
          &:focus {
            border-color: #81c784;
          }
        }
      }
      .el-button {
        padding: 0;
        height: 34px;
        padding: 0 10px;
        background-color: #43a047;
        color: #fff;
        &:hover {
          background-color: #3b8e3f;
        }
        i {
          margin-right: 10px;
          color: #fff;
          vertical-align: middle;
        }
        span {
          vertical-align: middle;
          font-size: 14px;
        }
      }
    }
  }
</style>
