<template>
  <div class="home-nav">
    <el-menu
      mode="horizontal"
      :menu-trigger="menuTrigger"
      @open="handleOpen"
      unique-opened
      router>
      <el-submenu :index="item.path" v-for="(item, index) in Nav" :key="index">
        <template slot="title">
          <i class="fa" :class="item.meta.icon"></i>
          <span>{{$t(`homeNav.${item.name}.name`)}}</span>
        </template>
        <template v-for="(itemList, index) in item.children">
          <el-menu-item :index="itemList.path" :key="index">
            <i class="fa" :class="itemList  .meta.icon"></i>
            <span>{{$t(`homeNav.${item.name}.${itemList.name}`)}}</span>
          </el-menu-item>
        </template>
      </el-submenu>
    </el-menu>
  </div>
</template>

<script>
import Nav from '@/router/config/main/homeNav/index.js'
export default {
  name: "homeNav",
  data () {
    return {
      Nav: Nav,
      menuTrigger: 'click'
    }
  },
  components: {

  },
  methods: {
    handleOpen(key) {
      this.menuTrigger = 'hover';
      console.log(key);
    }
  },
  created() {
  }
}
</script>

<style lang="scss">
.home-nav {
  .el-menu {
    border: 0;
    color: #fff;
    background-color: #333;
    .el-submenu {
      .el-submenu__title {
        height: 38px;
        line-height: 38px;
        color: #fff;
        span {
          font-size: 12px;
        }
        &:hover {
          background-color: #4a4d54;
        }
      }
      .el-menu-item i:first-child,
      .el-submenu__title i:first-child {
        margin-right: 10px;
        font-size: 16px;
        color: #fff;
      }
      .el-submenu__icon-arrow {
        margin-left: 5px;
        margin-top: 2px;
        color: #fff;
      }
    }
  }
}

</style>
