<template>
  <div class='popupBox' v-if='isShow'>
    <slot name='popupCon'></slot>
  </div>
</template>
<script>
export default {
  name: 'y-popup',
  props: {
    isShow: {
      // 是否显示
      type: Boolean,
      default: false
    }
  }
};
</script>
<style scoped>
.popupBox {
  position: absolute;
  z-index: 99999;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 3px #eeeeee;
}
</style>