<template>
  <div class='configBox'>
    <div class='main'>
      <div class='main-top'>
        <el-button round @click='save'>保存</el-button>
        <span class='explain'>请输入文字并且按Enter键添加多个数值</span>
      </div>
      <div class='main-center'>
        <div class='ui-g'>
          <div class='ui-g-12 ui-md-3'>
            <table>
              <tr>
                <td><img class='logo' :src='"logo"|imageFilter' /></td>
              </tr>
              <tr>
                <td>
                  <div class='tdinput'>
                    <input
                      class='dateinput'
                      autocomplete='off'
                      v-model='dates'
                      role='textbox'
                      aria-multiline='false'
                    />
                    <i class='fa fa-caret-up up-i cursor' aria-hidden='true' @click='upDate'></i>
                    <i class='fa fa-caret-down down-i cursor' aria-hidden='true' @click='downDate'></i>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <editLi title='证书类型'></editLi>
                </td>
              </tr>
            </table>
          </div>
          <div class='ui-g-12 ui-md-3'>
            <table>
              <tr>
                <td>
                  <editLi title='机房出入原因'></editLi>
                </td>
              </tr>
              <tr>
                <td>
                  <editLi title='事件来源' :dataLi='dataLiEventSou'></editLi>
                </td>
              </tr>
              <tr>
                <td>
                  <editLi title='事件类型'></editLi>
                </td>
              </tr>
            </table>
          </div>
          <div class='ui-g-12 ui-md-3'>
            <table>
              <tr>
                <td>
                  <editLi title='发布管理：检测状态'></editLi>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import editLi from '@/components/editLi.vue';
import Util from '@/tools/common.js';
export default {
  name: 'configurations',
  data() {
    return {
      date: '1',
      dataLiEventSou:['q']
    };
  },
  components: {
    editLi
  },
  computed: {
    dates: {
      get: function() {
        return this.date + '天';
      },
      set: function(value) {
        value = value.split('天').join('');
        this.date = value;
      }
    }
  },
  methods: {
    save() {
      console.log('点击了保存按钮事件');
    },
    upDate() {
      let d=parseInt(this.date);
        if (d < 30) {
          this.date=d+1;
        }else{
          this.date=30
        }
    },
    downDate() {
      if (!Util.isNull(this.date)) {
         let d=parseInt(this.date)
          if (d > 1) {
            if (d > 30) {
              d = 30;
            }
            this.date=d-1;
          }else{
            this.date=29
          }
      }
    }
  }
};
</script>

<style lang='scss'>
.configBox {
  width: 100%;
  height: 100%;
  padding: 15px;
  .main {
    width: 100%;
    .main-top {
      margin-bottom: 10px;
      .explain {
        line-height: 35px;
        margin-left: 40px;
        font-size: 10px;
        color: gray;
      }
    }
    .main-center {
      width: 100%;
      height: 100%;
      .ui-g {
        display: flex;
        flex-wrap: wrap;
        .ui-g-12 {
          float: left;
          padding: 0.5em;
          table {
            width: 100%;
            td {
              padding: 8px;
              .logo {
                width: 100%;
                background: #d9d9d9;
              }
              .dateinput {
                width: 100%;
                font-size: 14px;
                background: #ffffff;
                padding: 6px 12px;
                border: 1px solid #cccccc;
                border-radius: 4px;
                text-align: right;
                padding-right: 20px;
              }
            }
            .tdinput {
              position: relative;
              .up-i {
                position: absolute;
                right: 8px;
              }
              .down-i {
                position: absolute;
                right: 8px;
                bottom: 3px;
              }
            }
          }
        }
      }
      .ui-g:after {
        clear: both;
        content: '';
        display: table;
      }
    }
  }
}
@media screen and (min-width: 40.063em) {
  .ui-md-3 {
    width: 25%;
  }
}
@media screen and (max-width: 40.063em) {
  .ui-md-3 {
    width: 100%;
  }
}
</style>
