<template>
  <div>
    dashboard 页面
  </div>
</template>

<script>
export default {
  name: "dashboard",
  data () {
    return {

    }
  },
  components: {

  }
}
</script>

<style lang="scss">

</style>
