<template>
  <div class="systemManagement">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "systemManagement",
  data () {
    return {

    }
  },
  components: {

  }
}
</script>

<style lang="scss">
.systemManagement {
  width: 100%;
  height: calc(100% - 98px);
  box-shadow: inset 4px 0 5px rgba(0, 0, 0, 0.5);
}
</style>
