<template>
  <div class="roles">
    <funcBar
      @add="rolesAdd"
      @search="rolesSearch"></funcBar>
    <div class="roles-table">
      <div class="roles-table-name">
        <span>Roles Management</span>
      </div>
      <ul class="table">
        <li class="tr">
          <div class="th"><span>Roles Name</span></div>
          <div class="th"></div>
        </li>
        <li class="tr" v-for="(item, index) in rolesList" :key="index">
          <div class="td"><span>{{item}}</span></div>
          <div class="td">
            <i @click="rolesEdit" class="fa fa-edit cursor"></i>
            <i @click="rolesDel" class="fa fa-trash-o cursor"></i>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import funcBar from '@/components/funcBar.vue';
export default {
  name: "roles",
  data () {
    return {
      searchVal: '',
      rolesList: ['Administrators', 'Manager', 'Operator','Operator']
    }
  },
  components: {
    funcBar
  },
  watch: {
    searchVal: {
      handler(val) {
        console.log(val);
      }
    }
  },
  methods: {
    rolesEdit() {
      console.log('我被编辑了');
    },
    rolesDel(val) {
      console.log('我被删除了');
      console.log(val);
    },
    rolesAdd() {
      console.log('我在添加东西');
    },
    rolesSearch(val) {
      console.log('我在搜索东西');
      console.log(val);
    }
  }
}
</script>

<style lang="scss">
.roles {
  padding: 15px;
  div.roles-table {
    border: 1px solid #DDD;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    .roles-table-name {
      height: 35px;
      line-height: 35px;
      font-size: 12px;
      font-weight: 700;
      text-align: center;
      background-color: #f5f5f5;
    }
    .table {
      .tr {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #DDD;
        font-size: 12px;
        &:nth-child(even) {
          background-color: #f9f9f9;
        }
        div.th:first-child, div.td:first-child {
          flex: 1;
          border-right: 1px solid #DDD;
          padding-left: 8px;
        }
        div.th:last-child, div.td:last-child {
          width: 120px;
          text-align: center;
          i {
            font-size: 14px;
            margin: 0 8px;
          }
        }
      }
      .th {
        height: 33px;
        line-height: 33px;
      }
      .td {
        height: 43px;
        line-height: 43px;
        border-right: 1px solid #DDD;
      }
    }
  }
}
</style>
