<template>
  <div class="users">
    <funcBar
      @add="usersAdd"
      @search="usersSearch"></funcBar>
    <div class="users-table">
      <div class="users-table-name">
        <span>Users Management（25）</span>
      </div>
      <ul class="table">
        <li class="tr">
          <div class="th"><span>Real Name</span></div>
          <div class="th"><span>Username</span></div>
          <div class="th"><span>Email</span></div>
          <div class="th"><span>Role</span></div>
          <div class="th"></div>
          <div class="th"></div>
        </li>
        <li class="tr" v-for="(item, index) in usersList" :key="index">
          <div class="td"><span>{{item.realName}}</span></div>
          <div class="td"><span>{{item.userName}}</span></div>
          <div class="td"><span>{{item.email}}</span></div>
          <div class="td"><span>{{item.role}}</span></div>
          <div class="td">Approved</div>
          <div class="td">
            <i @click="usersEdit" class="fa fa-edit cursor"></i>
            <i @click="usersDel" class="fa fa-trash-o cursor"></i>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import funcBar from '@/components/funcBar.vue';
export default {
  name: "users",
  data () {
    return {
      usersList: [
        {
          realName: 'Sikandar',
          userName: '13424347416',
          email: '',
          role: 'Administrators',
        },
        {
          realName: 'Sikandar',
          userName: '13424347416',
          email: '',
          role: 'Administrators',
        },
        {
          realName: 'Sikandar',
          userName: '13424347416',
          email: '',
          role: 'Administrators',
        },
        {
          realName: 'Sikandar',
          userName: '13424347416',
          email: '',
          role: 'Administrators',
        },
        {
          realName: 'Sikandar',
          userName: '13424347416',
          email: '',
          role: 'Administrators',
        },
        {
          realName: 'Sikandar',
          userName: '13424347416',
          email: '',
          role: 'Administrators',
        },
        {
          realName: 'Sikandar',
          userName: '13424347416',
          email: '',
          role: 'Administrators',
        }
      ]
    }
  },
  watch: {
    searchVal: {
      handler(val) {
        console.log(val);
      }
    }
  },
  components: {
    funcBar
  },
  methods: {
    usersEdit() {
      console.log('我被编辑了');
    },
    usersDel() {
      console.log('我被删除了');
    },
    usersAdd() {
      console.log('我在添加东西');
    },
    usersSearch() {
      console.log('我在搜索东西');
    }
  }
}
</script>

<style lang="scss">
.users {
  padding: 15px;
  div.users-table {
    border: 1px solid #DDD;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    .users-table-name {
      height: 35px;
      line-height: 35px;
      font-size: 12px;
      font-weight: 700;
      text-align: center;
      background-color: #f5f5f5;
    }
    .table {
      .tr {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #DDD;
        text-align: center;
        font-size: 12px;
        &:nth-child(even) {
          background-color: #f9f9f9;
        }
        div.th:first-child, div.td:first-child {
          flex: 1;
          border-right: 1px solid #DDD;
        }
        div.th:nth-child(2), div.td:nth-child(2) {
          flex: 1;
          border-right: 1px solid #DDD;
        }
        div.th:nth-child(3), div.td:nth-child(3) {
          flex: 1;
          border-right: 1px solid #DDD;
        }
        div.th:nth-child(4), div.td:nth-child(4) {
          flex: 1;
          border-right: 1px solid #DDD;
        }
        div.th:nth-child(5), div.td:nth-child(5) {
          width: 100px;
          border-right: 1px solid #DDD;
        }
        div.th:last-child, div.td:last-child {
          width: 120px;
          text-align: center;
          i {
            font-size: 14px;
            margin: 0 8px;
          }
        }
      }
      .th {
        height: 33px;
        line-height: 33px;
      }
      .td {
        height: 43px;
        line-height: 43px;
        border-right: 1px solid #DDD;
      }
    }
  }
}
</style>
