<template>
  <div class="home">
    <div class="home-header" :style="{backgroundColor: $store.state.baseColor}">
      <div class="home-header-left">
        <img :src="hopesonImg" alt="hopesonImg" class="hopesonImg">
        <span class="company">深圳市鸿普森科技股份有限公司</span>
      </div>
      <div class='home-header-right cursor'  @click="showDropDown" ref="userInfoDrop">
        <div class='userInfo'>
          <span class='phoneNum'>{{userInfo.phoneNum}}</span>
          <div class='time'>{{nowTime}}</div>
          <ul class='dropDown' v-if='showDrop'>
            <li class='dropDown-item userProfile' @click='goAccount'>
              <i class="fa fa-user-secret"></i>
              <span>{{$t('userInfo.userProfile')}}</span>
            </li>
            <li class='dropDown-item settings' @click='goSettings'>
              <i class="fa fa-user-secret"></i>
              <span>{{$t('userInfo.settings')}}</span>
            </li>
            <li class='dropDown-item logout' @click='logout'>
              <i class="fa fa-user-secret"></i>
              <span>{{$t('userInfo.logout')}}</span>
            </li>
            <li class='dropDown-item chinese' @click='changeLang("zh")'>
              <i class="fa fa-user-secret"></i>
              <span>{{$t('userInfo.chinese')}}</span>
            </li>
            <li class='dropDown-item english' @click='changeLang("en")'>
              <i class="fa fa-user-secret"></i>
              <span>{{$t('userInfo.english')}}</span>
            </li>
          </ul>
        </div>
        <img :src='userImg' alt='userImg' class='userImg'>
      </div>
    </div>
    <homeNav />
    <router-view></router-view>
    <!-- <span>这是 Home 页面</span>
    <button @click="logout">注销</button> -->
    
    <!-- <div class="langChange">
      <span>{{$t('message.home')}}</span>
      <button @click="changeLang">切换中英文</button>
    </div> -->
    <!-- <div class="event">
      <button @contextmenu.prevent="rightClick">右键点击事件</button>
      <div class="rightClick" ref="rightClick">123</div>
    </div>
    <div class="request">
      <button class="request-itom" @click="itomRequest">request-itom</button>
      <button class="request-api" @click="apiRequest">request-api</button>
    </div> -->
  </div>
</template>

<script>
import homeNav from '@/components/homeNav.vue';

import hopesonImg from '@/assets/img/home/hopesen.png';
import userImg from '@/assets/img/home/user.png';
export default {
  name: 'Home',
  data() {
    return {
      hopesonImg: hopesonImg,
      userImg: userImg,
      nowTime: '',
      userInfo: {
        phoneNum: '15398868007'
      },
      showDrop: false,
    };
  },
  watch: {
    showDrop: {
      handler(val) {
        if(!val) {
          document.removeEventListener('click', this.addListener);
        }
      }
    }
  },
  components: {
    homeNav
  },
  methods: {
    // 账户注销
    logout() {
      this.$router.push({ path: "/login" });
    },
    // 切换中英文事件
    changeLang(lang) {
      if(lang === 'zh') {
        this.$i18n.locale = 'zh';
      } else if(lang === 'en') {
        this.$i18n.locale = 'en';
      } else {
        this.$i18n.locale = 'zh';
      }
       window.localStorage.setItem('I18N',this.$i18n.locale)
      location.reload()
    },
    // 右键点击事件
    rightClick(e) {
      var style = this.$refs.rightClick.style;
      style.display = 'block';
      style.position = 'absolution';
      style.top = `${e.clientY}px`;
      style.left = `${e.clientX}px`;
      document.addEventListener('click', this.documentHandler);
    },
    // 页面点击事件，关闭右键打开的事件
    documentHandler(event, container, variable) {
      if(!this.$refs[container]) return;
      var boolean = this.$refs[container].contains(event.target);
      if (!boolean) {
        this[variable] = false;
      }
    },
    itomRequest() {
      this.$tools.ajax(
        'itom/api/secure/inspection/asset/2102311PQH10H8000016',
        'get'
      );
    },
    apiRequest() {
      this.$tools.ajax(
        '/api/secure/inspection/asset/2102311PQH10H8000016',
        'get'
      );
    },
    getNowTime() {
      let date = new Date();
      // 获取日期的各个要素
      let year = date.getFullYear();
      let month = date.getMonth() + 1;
      let day = date.getDate();
      let hours = date.getHours();
      let minutes = date.getMinutes();
      // 判断是否需要 加 0
      month = month >= 10 ? month : `0${month}`;
      day = day >= 10 ? day : `0${day}`;
      hours = hours >= 10 ? hours : `0${hours}`;
      minutes = minutes >= 10 ? minutes : `0${minutes}`;
      this.nowTime = `${year}/${month}/${day} ${hours}:${minutes}`;
    },
    // 点击用户信息，显示下拉框
    showDropDown() {
      this.showDrop = !this.showDrop;
      document.addEventListener('click', this.addListener);
    },
    goAccount() {
      this.$router.push({path: '/saas/myAccount'});
    },
    goSettings() {
      this.$router.push({path: '/saas/mySetting'});
    },
    addListener() {
      return this.documentHandler(event, 'userInfoDrop', 'showDrop'); 
    }
  },
  created() {
    this.getNowTime();
  }
};
</script>

<style lang='scss'>
.home {
  width: 100%;
  height: 100%;
  .home-header {
    height: 60px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .home-header-left {
      img.hopesonImg {
        display: inline-block;
        height: 40px;
        vertical-align: middle;
        margin-right: 5px;
      }
      .company {
        display: inline-block;
        font-size: 28px;
        opacity: 0.2;
        color: #fff;
        vertical-align: middle;
      }
    }
    .home-header-right {
      display: flex;
      justify-content: space-between;
      position: relative;
      .userInfo {
        color: #fff;
        height: 40px;
        font-size: 12px;
        margin-right: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        span.phoneNum {
          display: inline-block;
          height: 20px;
          line-height: 20px;
        }
        div.time {
          height: 20px;
          line-height: 20px;
        }
        ul.dropDown {
          position: absolute;
          top: 50px;
          right: 0;
          z-index: 99;
          width: 250px;
          height: 190px;
          background-color: #fff;
          box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
          li.dropDown-item {
            height: 38px;
            line-height: 38px;
            padding: 0 15px 0 20px;
            cursor: pointer;
            &:hover {
              background-color: #eee;
            }
            i {
              color: #777;
              font-size: 14px;
              margin-right: 10px;
            }
            span {
              font-size: 12px;
              color: #212529;
              display: inline-block;
            }
          }
        }
      }
      img.userImg {
        width: 36px;
        height: 36px;
        vertical-align: middle;
      }
    }
  }
}
.event {
  .rightClick {
    position: absolute;
    display: none;
    background-color: #eee;
    width: 200px;
    height: 200px;
  }
}
</style>
