<template>
  <div class="forget">
    <div class="forget-header">
      <span class="forget-header-description">ITOM</span>
    </div>
    <div class="forget-form">
      <div class="forget-form-header">
        <span class="forget-form-title">All fields with '*' are required</span>
      </div>
      <ul class="forget-form-list">
        <li class="forget-form-item phone-num">
          <div class="forget-form-item-left">
            <span>Mobile</span>
            <span>*</span>
          </div>
          <div class="forget-form-item-right">
            <el-input v-model="phoneNum"></el-input>
          </div>
        </li>
        <li class="forget-form-item img-code-num">
          <div class="forget-form-item-left">
            <img src="" alt="图片验证">
          </div>
          <div class="forget-form-item-right">
            <el-input v-model="imgCodeNum" class="imgCodeNum"></el-input>
            <span class="sendCode" @click="sendCode">Send Code</span>
          </div>
        </li>
        <li class="forget-form-item phone-code-num">
          <div class="forget-form-item-left">
            
          </div>
          <div class="forget-form-item-right">
            <el-input
              placeholder="4 Dight Mobile Code"
              v-model="phoneCodeNum"
              maxlength="4"
              class="phoneCodeNum"></el-input>
          </div>
        </li>
        <li class="forget-form-item reset-password">
          <div class="forget-form-item-left">
            <span class="go-login" @click="goLogin">
              <i></i>
              <span>Login</span>
            </span>
          </div>
          <div class="forget-form-item-right">
            <el-button @click="resetPwd">Reset Password</el-button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "forget",
  data () {
    return {
      phoneNum: '',
      imgCodeNum: '',
      phoneCodeNum: ''
    }
  },
  components: {

  },
  methods: {
    goLogin() {
      this.$router.push({path: './login'})
    },
    resetPwd() {
      if(this.phoneNum === ''
        || this.imgCodeNum === ''
        || this.phoneCodeNum === '') {
        this.message('请正确填写资料','warning',true);
        return;
      }
      this.message('重置密码成功','success',true);
    },
    sendCode() {
      if(this.imgCodeNum === '') {
        this.message('请填写图片验证码','warning',true);
        return;
      }
      this.message('验证码已发送','success',true);
    }
  }
}
</script>

<style lang="scss">
.forget {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .forget-header {
    background: #0379f1;
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    span.forget-header-description {
      font-size: 22px;
      line-height: 50px;
      color: #fff;
      padding-left: 10px;
    }
  }
  .forget-form {
    width: 330px;
    height: 290px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.45);
    .forget-form-header {
      height: 60px;
      background-color: #0379f1;
      text-align: center;
      span.forget-form-title {
        color: #fff;
        line-height: 60px;
        font-size: 15px;
      }
    }
    .forget-form-list {
      border-bottom: 1px solid #ccc;
      .forget-form-item {
        width: 290px;
        height: 50px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .forget-form-item-left {
          width: 86px;
          font-size: 12px;
          padding: 8px;
          text-align: right;
          color: #333;
          i {
            display: inline-block;
            width: 12px;
            height: 12px;
            background-color: red;
            vertical-align: middle;
          }
          span.go-login {
            cursor: pointer;
          }
        }
        .forget-form-item-right {
          flex: 1;
          .el-input {
            .el-input__inner {
              width: 187px;
              height: 33px;
              padding: 6px 12px;
            }
          }
          .el-input.imgCodeNum {
            width: 120px;
            .el-input__inner {
              width: 120px;
              height: 33px;
              padding: 6px 12px;
            }
          }
          span.sendCode {
            display: inline-block;
            width: 66px;
            font-size: 12px;
            color: #237d79;
            cursor: pointer;
            padding-left: 5px;
          }
          .el-input.phoneCodeNum {
            .el-input__inner {
              text-align: center;
            }
          }
          .el-button {
            width: 187px;
            padding: 6px 12px;
            height: 31px;
            border-radius: 25px;
          }
        }
      }
    }
  }
}
</style>
