<template>
  <div class='hardwareBox'>
    <div class='header' id='home'>
      <div class='operBtn'>
        <div class='left'>
          <ul>
            <li>
              <a href='#home'>{{$t('landing.home')}}</a>
            </li>
            <li>
              <a href='#features'>{{$t('landing.features')}}</a>
            </li>
          </ul>
        </div>
        <img :src='"logohopesen"|imageFilter' alt />
        <div class='right'>
          <el-button @click='login' class='hoverWhite'>登录</el-button>
          <el-button @click='register'>注册</el-button>
        </div>
      </div>
      <div class='headerDESC'>
        <h1>IT Operations Management</h1>
        <h2>
          IT 运营管理系统 provides high end smart system to manage Distributed Data Centers, Assets and Infrastructure
          Project management
        </h2>
      </div>
    </div>
    <div class='main' id='features'>
      <div>
        <div class='features-content'>
          <div class='features-content-item' v-for='(item,index) in data' :key='index'>
            <div class='grid-content'>
              <img alt />
              <div class='title'>{{item.title}}</div>
              <div>{{item.content}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='Footer'>
      版权所有 © 2016 深圳市鸿普森科技股份有限公司 版权所有
      <a href='http://www.miitbeian.gov.cn'>粤ICP备15067157号</a>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      data: [
        {
          img: 'bgimg',
          title: 'Assets Management',
          content:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt dolore magna aliqua.'
        },
        {
          img: 'bgimg',
          title: 'Assets Management',
          content:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt dolore magna aliqua.'
        },
        {
          img: 'bgimg',
          title: 'Assets Management',
          content:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt dolore magna aliqua.'
        },
        {
          img: 'bgimg',
          title: 'Assets Management',
          content:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt dolore magna aliqua.'
        }
      ]
    };
  },
  methods: {
    login() {
      this.$router.push({ path: './login' });
    },
    register() {
      this.$router.push({ path: './signUp' });
    }
  }
};
</script>
<style lang='scss' scoped >
.hardwareBox {
  .header {
    padding: 30px 0 0 0;
    height: 550px;
    color: #333;
    text-align: center;
    box-sizing: border-box;
    background: url('../../assets/img/hardwares/landing-main.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    .operBtn {
      padding: 0 30px;
      color: #fff;
      height: 120px;
      line-height: 120px;
      box-sizing: border-box;
      width: 80%;
      margin: auto;
      span {
        margin-right: 20px;
      }
      li {
        margin-right: 20px;
        display: inline-block;
        a {
          text-decoration: none;
          color: #ffffff;
        }
      }
      img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        padding: 10px;
      }
    }
    .headerDESC {
      color: #fff;
      margin-top: 30px;
      h1 {
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 20px;
      }
      h2 {
        font-size: 22px;
        margin-bottom: 30px;
        width: 66%;
        margin: auto;
        font-weight: 300;
        font-family: 'PingFang SC', 'microsoft yahei', 'helvetica neue',
          'hiragino sans gb', sans-serif;
      }
    }
  }
  main > div {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0 75px 0;
    color: #292b2c;
    box-sizing: border-box;
  }
  .main {
    padding: 0 50px;
    background: #ffffff;
    color: #333;
    text-align: center;
    padding: 30px 30px;
    box-sizing: border-box;
    .features-content {
      text-align: left;
      display: flex;
      flex-wrap: wrap;
      .features-content-item {
        .grid-content {
          padding: 20px;
          text-align: left;
          img {
            width: 72px;
            height: 32px;
          }
          .title {
            font-size: 18px;
            margin: 18px 0;
            font-weight: 600;
          }
        }
      }
    }
  }
  .Footer {
    padding: 30px 0;
    background-color: #292b2c;
    border: solid 1px #dee4e9;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    a {
      color: #237d79;
      text-decoration-line: none;
    }
  }
  .el-button {
    background: none;
    color: #ffffff;
  }
}
@media screen and (min-width: 40.063em) {
  .features-content-item {
    width: 50%;
  }
}
@media screen and (min-width: 64.063em) {
  .features-content-item {
    width: 25%;
  }
}
</style>