<template>
  <div class='loginBox'>
    <img class='headerimg' :src='"loginbgimg"|imageFilter' alt />
    <div class='main'>
      <div class='loginForm'>
        <div class='headPic'>
          <img class='left' :src='"iconlogin"|imageFilter' alt />
          <div class='right langage'>
            <div class='login2Itom'>登录到ITOM</div>
            <div class='twoBtn cursor'>
              <span>English</span>
              <span class='splitLine'></span>
              <span>中文</span>
            </div>
          </div>
        </div>
        <div class='clear marB10'></div>
        <div class='left marB5'>用户名</div>
        <el-input v-model='formData.nameVal' placeholder='用户名' @focus='namefocus' @blur='nameBlur'></el-input>
        <div class='left marB5 marT10'>密码</div>
        <el-input class='marB10' v-model='formData.pwdVal' placeholder='密码' type='password'></el-input>
        <div class='left'>
          <input type='checkbox' id='checkbox' v-model='checked' />
          <label for='checkbox'>记住密码</label>
        </div>
        <div class='right twoBtn'>
          <span @click='goForget'>忘记密码</span>
          <span class='splitLine'></span>
          <span @click='goSignUp'>注册</span>
        </div>
        <div class='clear marB10'></div>
        <el-button @click='goHome' class='left loginBtn' round>登录</el-button>
      </div>
    </div>
  </div>
</template>

<script>
import coo from '@/tools/cookie.js';
export default {
  name: 'login',
  components: {},
  data() {
    return {
      formData: {
        nameVal: '',
        pwdVal: ''
      },
      checked: false
    };
  },
  watch: {
    checked() {
      if (this.checked === true) {
        coo.setCookie('userPwd', this.formData.pwdVal, 2);
      } else if (this.checked === false) {
        coo.clearCookie('userPwd', '');
      }
    }
  },
  methods: {
    goSignUp() {
      this.$router.push({ path: './signUp' });
    },
    goForget() {
      this.$router.push({ path: './forget' });
    },
    goHome() {
      this.$router.push({ path: '/' });
    },
    namefocus() {
      // this.c();
      this.isShowYpopup = true;
    },
    nameBlur() {
      // this.c();
      this.isShowYpopup = false;
    }
  },
  created() {}
};
</script>

<style lang='scss' >
.loginBox {
  width: 100%;
  height: 100%;
  // overflow-x: hidden;
  .headerimg {
    width: 100%;
    height: calc(100% - 380px);
    background-size: cover;
    background-position: center;
  }
  .main {
    height: 380px;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    position: absolute;
    bottom: 0;
    .loginForm {
      width: 400px;
      height: 330px;
      margin: auto;
      margin-top: 30px;
      padding: 0px;
      .headPic {
        width: 100%;
        height: 70px;
        position: relative;
      }
      .Ypopup {
        width: 400px;
      }
      img {
        width: 65px;
        height: 65px;
        border-radius: 50%;
      }
      .langage {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 12px;
      }
      .twoBtn {
        color: #237d79;
        font-size: 12px;
        vertical-align: bottom;
        .login2Itom {
          color: #000000;
        }
        .splitLine {
          width: 1px;
          height: 10px;
          background: #237d79;
          display: inline-block;
          margin: 0 3px;
        }
      }

      .loginBtn {
        width: 200px;
      }
    }
  }
}
</style>
