<template>
  <div class='exportBox'>
    <div @click='exportExcel("#tabelForm")'>导出</div>
    <el-table :data='tableData' style='width: 100%' id='tabelForm'>
      <el-table-column prop='date' label='日期' width='180'>
      </el-table-column>
      <el-table-column prop='name' label='姓名' width='180'>
      </el-table-column>
      <el-table-column prop='address' label='地址'>
      </el-table-column>
    </el-table>
  </div>
</template>
<script>
export default {
  name: 'HelloWorld',
  data() {
    return {
      tableData: [
        {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        },
        {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1517 弄'
        },
        {
          date: '2016-05-01',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1519 弄'
        },
        {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1516 弄'
        }
      ]
    };
  }
};
</script>
<style scoped>
</style>
